@model ReversiApp.Models.Speler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Speler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div class="form-group">
                <label>Fill in your email for safety reasons: </label>
                <input type="email" name="email" required/><br />
                <label>Old Password: </label>
                <input type="password" name="oldpw" required/><br />
                <label>New password: </label>
                <input type="password" name="newpw" required/><br />
                <label>Verify new password: </label>
                <input type="password" name="newpw2" required/><br />
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="LoggedIn">Back to Account</a>
</div>

