@model ReversiApp.Models.Speler

@{
    ViewData["Title"] = "Change Password";
}
<div>
<h1>Oh oh, did you forget your password?</h1>
    <form asp-action="Edit">

    </form>
    
    <a asp-action="Index">Back to Login page</a>
</div>
